{% extends "base.html" %}

{% block content %}
<div id="filter">
    {#TODO#}
    <form action="" method="get">
        Type:
        <label><input name="type" type="radio" value="" checked="checked"/>All</label>
        <label><input name="type" type="radio" value="" />Standard </label>
        <label><input name="type" type="radio" value="" />Emergency </label>
        <br>
        Status:
        <label><input name="status" type="radio" value="" checked="checked"/>All</label>
        <label><input name="status" type="radio" value="" />Pending </label>
        <label><input name="status" type="radio" value="" />Confirmed </label>
        <label><input name="status" type="radio" value="" />Canceled </label>
        <label><input name="status" type="radio" value="" />Finished </label>
        <br>
        Customer Name:
        <input name="name" type="text" value=""/>
        <br>
        <a onClick=""><button>Search</button></a>
    </form>

</div>
<br>
<div>
    <table id="data">
        <tr>
            <th>Appointment type</th>
            <th>date</th>
            <th>status</th>

        </tr>
        {% for appointment in appointments %}
            <tr>
                <td>
                    {% if appointment.is_emergency == true %}
                        Emergency
                    {% else %}
                        Standard
                    {% endif %}
                </td>
                <td>{{ appointment.datetime }}</td>
                <td>{{ appointment.status }}</td>
                <!-- <p id="save">save()</p> -->
                <td><a href="{{ url_for('handleappointment',appointment_id=appointment.id) }}"><button>details</button></a></td>
            </tr>
        {% endfor %}
    </table>
<hr>
{%import 'questionpage.html' as pg%}
{{pg.my_paginate(pagination,'all_appointments')}}
<hr>
</div>
<script>
</script>
{% endblock %}