{% extends "base.html" %}

{% block content %}
<div>
    <table>
        <tr>
            <th>Appointment type</th>
            <th>date</th>
            <th>status</th>

        </tr>
        {% for appointment in appointments %}
            <tr>
                <td>
                    {% if appointment.is_emergency == true %}
                        Emergency
                    {% else %}
                        Standard
                    {% endif %}
                </td>
                <td>{{ appointment.datetime }}</td>
                <td>{{ appointment.status }}</td>
                <!-- <p id="save">save()</p> -->
                <td><a href="{{ url_for('handleappointment',appointment_id=appointment.id) }}"><button>details</button></a></td>
            </tr>
        {% endfor %}
    </table>
</div>
{#<script>#}
{#    function save(cp_value){#}
{#        var num = new Object;#}
{#        num.cp_keynum ="key_num";#}
{#        num.cp_num_value = cp_value;#}
{#        var str = JSON.stringify(num);#}
{#        localStorage.setItem(num.cp_keynum,str);#}
{#    }#}
{#btn = document.getElementById('details');#}
{#    btn.onclick = function() {#}
{#            save(appointment.id);#}
{#            window.location.href('details');#}
{#    }#}
{#</script>#}
{% endblock %}