{% extends "base.html" %}

{% block content %}
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>	
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-center">
				<div class="banner-content col-lg-8 col-md-12">
					<h1>
						We Care for Your Pets Health
						Every Moment		
					</h1>
					<p class="pt-10 pb-10 text-white">
						 Healing Paws Veterinary Hospital
					</p>
				</div>										
			</div>
		</div>					
	</section>

	<section class="appointment-area">			
		<div class="container">
			<div class="row justify-content-between align-items-center pb-120 appointment-wrap">						
				<div class="col-lg-5 col-md-6 appointment-left">
					<ul class="time-list">
						<li class="d-flex justify-content-between">
						<span><h3>Question: {{ question.title }}</h3></span>
						</li><br><br><br><br><br><br>
						<li class="d-flex justify-content-between">
							<h3>Answers:</h3><br>
							{% if prev_answers %}
								<ul>
								{% for answer in prev_answers %}
									<li><h3>{{ answer.body }} made by {{ answer.author.username }}</h3></li><br>
								{% endfor %}
								</ul>
							{% else %}
								<h3>No answer yet</h3>
							{% endif %}
						</li>																
					</ul>
				</div>
{% if user %}
		{% if not user.is_customer %}
		<div class="col-lg-6 col-md-6 appointment-right pt-80 pb-60 form-group">
			<form action="" method="post" enctype="multipart/form-data" novalidate>
				{{ form.hidden_tag() }}
				<fieldset>
					<legend>Add a new answer</legend>
					<p class="center">
						{{ form.body.label }}<br>
						{{ form.body(cols=100,rows=6) }}
					</p>
					<p class="right">{{ form.submit() }}</p>
				</fieldset>
			</form>
		</div>
		{% endif %}
	{% endif %}
{% endblock %}