{%macro my_paginate(pagination,type,status,url)%}
<nav>
    <ul class="pagination center">
        {%if pagination.has_prev%}
        <li class="page-item active center"><a class="page-link" href="{{url_for(url,page=pagination.page-1,type=type,status=status)}}">The previous page</a></li>
        {%else%}
        <li class="page-item disabled center"><a class="page-link" href="#">The previous page</a></li>
        {%endif%}



        {%if pagination.has_next%}
        <li class="page-item active center"><a class="page-link" href="{{url_for(url,page=pagination.page+1,type=type,status=status)}}">The next page</a></li>
        {%else%}
        <li class="page-item disabled center"><a class="page-link" href="#">The next page</a></li>
        {%endif%}
    </ul>
</nav>

{%endmacro%}
