<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Don't be lazy! Set a title.</title>
        {% endif %}
    </head>
    <body>
        <ul class="menu">
            <li><a href="/home">Home</a></li>
            <li><a href="register">Register</a></li>
            {% if user %}
            <li><a href="/logout">Logout</a></li>
            <li id="change"><a href="">Password</a></li>
            <li id="search">
                <input type="text" placeholder="Search..."/>
                <button>Search</button>
            </li>
            <li id="menu_name">{{ user.username }}</li>
            {% else %}
            <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        
    </body>

</html>
