{% extends "base.html" %}

{% block content %}
<div class="container main">
    <div>
        <table id="data" class="table-hover">
          <thead>
            <tr>
                <th class="i18n" name="apt_type"></th>
                <th class="i18n" name="date"></th>
                <th class="i18n" name="status"></th>

            </tr>
            </thead>

            {% for appointment in appointments %}
                <tr>
                    {% if appointment.is_emergency == true %}
                        <td class="i18n" name="emergency"></td>
                    {% else %}
                        <td class="i18n" name="standard"></td>
                    {% endif %}
                    <td>{{ appointment.datetime }}</td>
                    {% if appointment.status == 'Canceled' %}
                        <td class="i18n" name="canceled"></td>
                    {% elif appointment.status == 'Pending' %}
                        <td class="i18n" name="pending"></td>
                    {% elif appointment.status == 'Finished' %}
                        <td class="i18n" name="finished"></td>
                    {% elif appointment.status == 'Confirmed' %}
                        <td class="i18n" name="confirmed"></td>
                    {% endif %}
                    <!-- <p id="save">save()</p> -->
                    <td><a href="{{ url_for('details',appointment_id=appointment.id) }}"><button style="margin: 5px" class="btn i18n btn-primary" name="details"></button></a></td>
                </tr>
            {% endfor %}
        </table>
    <hr>
    <p>
        {%import 'questionpage.html' as pg%}
        {{pg.my_paginate(pagination,'check_appointment')}}
    </p>

    <hr>
    </div>
</div>

<script>
</script>
{% endblock %}