{% extends "base.html" %}

{% block content %}
<div>
    <table>
        <tr>
            <th class="i18n" name="apt_type"></th>
            <th class="i18n" name="date"></th>
            <th class="i18n" name="location"></th>
            <th class="i18n" name="status"></th>

        </tr>
        {% for appointment in appointments %}
            <tr>
                {% if appointment.is_emergency == true %}
                    <td class="i18n" name="emergency"></td>
                {% else %}
                    <td class="i18n" name="standard"></td>
                {% endif %}
                <td>{{ appointment.datetime }}</td>
                {% if appointment.loc == 1 %}
                    <td class="i18n" name="beijing"></td>
                {% elif  appointment.loc == 2 %}
                    <td class="i18n" name="shanghai"></td>
                {% elif appointment.loc == 3 %}
                    <td class="i18n" name="chengdu"></td>
                {% endif %}
                <td>{{ appointment.status }}</td>
                <!-- <p id="save">save()</p> -->
                <td><a href="{{ url_for('details',appointment_id=appointment.id) }}"><button>details</button></a></td>
            </tr>
        {% endfor %}
    </table>

	<hr>
	{%import 'questionpage.html' as pg%}
	{{pg.my_paginate(pagination,'check_appointment')}}
	<hr>
</div>
{#<script>#}
{#    function save(cp_value){#}
{#        var num = new Object;#}
{#        num.cp_keynum ="key_num";#}
{#        num.cp_num_value = cp_value;#}
{#        var str = JSON.stringify(num);#}
{#        localStorage.setItem(num.cp_keynum,str);#}
{#    }#}
{#btn = document.getElementById('details');#}
{#    btn.onclick = function() {#}
{#            save(appointment.id);#}
{#            window.location.href('details');#}
{#    }#}
{#</script>#}
{% endblock %}