{% extends "base.html" %}

{% block content %}
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>	
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-center">
				<div class="banner-content col-lg-8 col-md-12">
					<h1>
						We Care for Your Pets Health
						Every Moment		
					</h1>
					<p class="pt-10 pb-10 text-white">
						 Healing Paws Veterinary Hospital
					</p>
				</div>										
			</div>
		</div>					
	</section>
	<section class="appointment-area">			
		<div class="container">
			<div class="row justify-content-between align-items-center pb-120 appointment-wrap">						
				<div class="col-lg-5 col-md-6 appointment-left">
					<h2>Personal Information</h2>
					<ul class="time-list">
						<li class="d-flex justify-content-between">
							<p class="i18n" name="username">Username: {{ user.username }}</p></li>
						<li class="d-flex justify-content-between">
							<p>Phone: {{ customer.phone }}</p></li>
						<li class="d-flex justify-content-between">
							<p>Email: {{ customer.email }}</p></li>
						<li class="d-flex justify-content-between">
							<p>Brithdaty: {{ customer.dob }}</p></li>
						<li class="d-flex justify-content-between">
							<p>Address: {{ customer.address }}</p></li>
					</ul>
				</div>
				<div class="col-lg-6 col-md-6 appointment-right pt-80 pb-60">
    <fieldset id='pets'>
        <legend>Your pets</legend><hr>
        <table border="1">
            <tr>
                <th>name</th><th>age</th><th>category</th><th>operation</th>
            </tr>
            {% for pet in pets %}
            <tr>
                <td>{{ pet.name }}</td>
                <td>{{ pet.age }}</td>
                <td>{{ pet.category }}</td>
                <td><button><a href="delete_pet?id={{ pet.id }}">delete</a></button></td>
            </tr>
            {% endfor %}
            <form action="" method="post" enctype="multipart/form-data" novalidate>
                {{ form.hidden_tag() }}
                <td>{{ form.name() }}</td>
                <td>{{ form.age() }}</td>
                <td>{{ form.category() }}</td>
                <td>{{ form.submit() }}</td>
			</form>
        </table> 
    </fieldset>

</div>
</div>
</section>
  
{% endblock %}