{% extends "base.html" %}

{% block content %}
<div>
    <br>
    <p>
        <a  class="btn btn-primary i18n" name="back" href="{{ url_for('check_appointment',page=1) }}" ></a>
        <span style="margin: auto;font-size: 2rem" class="lead i18n" name="detail"></span>
    </p>
<hr>
    <div>
    <table class="table table-hover">
     <thead>
             <tr>
                <td class="i18n" name="apt_id"></td>
                <td>{{ appointment.id }}</td>
            </tr>
     </thead>
      <tbody>
            <tr>
                <td class="i18n" name="submit_time"></td>
                <td>{{ appointment.datetime }}</td>
            </tr>

            <tr>
                <td class="i18n" name="apt_type"></td>
                {% if appointment.is_emergency == true %}
                    <td class="red i18n" name="emergency"></td>
                {% else %}
                    <td class="i18n" name="standard"></td>
                {% endif %}
            </tr>
            <tr>
                <td class="i18n" name="apt_status"></td>
                    {% if appointment.status == 'Canceled' %}
                        <td class="i18n" name="canceled"></td>
                    {% elif appointment.status == 'Pending' %}
                        <td class="i18n" name="pending"></td>
                    {% elif appointment.status == 'Finished' %}
                        <td class="i18n" name="finished"></td>
                    {% elif appointment.status == 'Confirmed' %}
                        <td class="i18n" name="confirmed"></td>
                    {% endif %}
            </tr>

            <tr>
                <td class="i18n" name="apt_location"></td>
                    {% if  appointment.loc  == 1 %}
                        <td class="i18n" name="beijing"></td>
                    {% elif  appointment.loc  == 2 %}
                        <td class="i18n" name="shanghai"></td>
                    {% elif appointment.loc  == 3 %}
                        <td class="i18n" name="chengdu"></td>
                    {% else %}
                    {% endif %}
            </tr>
            <tr>
                <td class="i18n" name="apt_desc"></td>
                    <td>{{ appointment.description }}</td>
            </tr>
            <tr>
                <td class="i18n" name="customer_name"></td>
                   <td> {{ customer.username }}</td>
            </tr>
            <tr>
                <td class="i18n" name="pet_name"></td>
                    <td>{{ pet.name }}</td>
            </tr>
            <tr>
                <td class="i18n" name="prefer_doctor"></td>
                    <td>{{ preferred.username }}</td>
            </tr>
            <tr>
                <td class="i18n" name="accept_change"></td>
                    {% if appointment.changeable == 1 %}
                        <td class="i18n" name="yes"></td>
                    {% else %}
                        <td class="red i18n" name="no"></td>
                    {% endif %}
            </tr>
            <tr>
                <td class="i18n" name="assigned_employee"></td>
                {% if assigned %}
                     <td><b>{{ assigned.username }}</b></td>
                {% else %}
                    <td class="i18n" name="none"></td>
                {% endif %}
            </tr>

            {% if appointment.is_emergency == true %}
                <tr>
                    <td class="i18n" name="pet_status"></td>
                    <td>{{ appointment.pet_status }}</td>
                </tr>
                
            {% endif %}

      </tbody>
    </table>
    <br>


     <div class="center">
            {% if appointment.status == "Pending" %}
                <hr>
                <p>
                    <a  class="btn btn-primary i18n" name="cancel" href="{{ url_for('update_appointment',apt=appointment.id,operation='Cancel') }}" style="margin: 50px"></a>
                </p>
            {% endif %}
        </div>

</div>
{% endblock %}