{% extends "base.html" %}

{% block content %}
<div>
    <input id="back" type="button" value="back" onclick="window.location.href('check_appointment')">
    <p>Appointment Details</p>
    <p>Appointment type: {% if appointment.is_emergency == true %}
                        Emergency
                    {% else %}
                        Standard
                    {% endif %}
    </p>
    <p>find()</p>
    <p>Customer Name: {{ customer.username }}</p>
    <p>Pet Name: {{ pet.name }}</p>
    <p>Appointment Time: {{ appointment.booking_datetime }}</p>
    <p>Appointment location: {{ appointment.location }}</p>
    <p>Preferred Doctor: {{ preferred_doctor.name }}</p>
    <p>Assigned Doctor: {{ assigned_doctor.name }}</p>
    <p>Appointment Status: {{ appointment.status }}</p>
    {% if appointment.is_emergency == true %}
    <p>Pet Status: {{ appointment.pet_status }}</p>
</div>
<script>
    function find(){
        var cp_keynum = "key_num";
        var str = localStorage.getItem(cp_keynum);
        var find_result = document.getElementById("find_result");
        var num = JSON.parse(str);
        find_result.innerHTML = cp_keynum + "==" + num.cp_num_value;
}
</script>
{% endblock %}