{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>	
	<div class="container">
		<div class="row fullscreen d-flex align-items-center justify-content-center">
			<div class="banner-content col-lg-8 col-md-12">
				<h1 class="i18n" name="welcome"></h1>
				<p class="pt-10 pb-10 text-white i18n" name="hospital"></p>
			</div>										
		</div>
	</div>					
</section>
<section class="appointment-area">			
	<div class="container">
		<div class="row justify-content-between align-items-center pb-120 appointment-wrap">						
			<div class="col-lg-5 col-md-6 appointment-left">
				<h2 class="i18n" name="personal_info"></h2>
				<ul class="time-list">
					<li class="d-flex justify-content-between">
						<p class="i18n" name="username">: {{ user.username }}</p></li>
					<li class="d-flex justify-content-between">
						<p class="i18n" name="email">: {{ user.email }}</p></li>
					<li class="d-flex">
                        <p class="i18n" name="location">:&nbsp;
                        {% if  employee.loc  == 1 %}
                            <p class="i18n" name="beijing"></p>
                        {% elif  employee.loc  == 2 %}
                            <p class="i18n" name="shanghai"></p>
                        {% elif employee.loc  == 3 %}
                            <p class="i18n" name="chegndu"></p>
                        {% endif %}
                        </p>
                    </li>
					<li class="d-flex justify-content-between">
						<p class="i18n" name="intro">: {{ employee.intro }}</p></li>
				</ul>
            </div>
        </div>
	</div>
</section>
  
{% endblock %}