{% extends "base.html" %}

{% block content %}
<div>
    <div class="appointment"></div>
    <p>Appointment id: {{ appointment.id }}</p>
    <p>Appointment type:
        {% if appointment.is_emergency == true %}
            Emergency
        {% else %}
            Standard
        {% endif %}
    </p>
    <p>Submit time: {{ appointment.datetime }}</p>
    <p>Appointment Status: {{ appointment.status }}</p>
    <p>Appointment location:
        {% if  appointment.loc  == 1 %}
            Beijing
        {% elif  appointment.loc  == 2 %}
            Shanghai
        {% elif appointment.loc  == 3 %}
            Chengdu
        {% else %}
        {% endif %}
        </p>
{#    <p>Appointment Date: {{ appointment.date }}</p>#}
{#    <p>Appointment Time: {{ appointment.time }}</p>#}
    <p>Customer Name: {{ customer.username }}</p>
    <p>Pet Name: {{ pet.name }}</p>
    <p>Preferred Doctor: {{ preferred.username }}</p>
    <p>Accept Adjustment: {{ appointment.changable }}</p>
    {% if appointment.status == "Pending" %}
        <a href="{{ url_for('update_appointment',apt=appointment.id,operation="Reject") }}"><button>Reject</button></a>
        <a href="{{ url_for('update_appointment',apt=appointment.id,operation="Confirm") }}"><button>Confirm</button></a>
    {% elif appointment.status == "Confirmed" %}
        {% if appointment.is_emergency == true %}
            <p>Pet Status:</p>
            <textarea id="pet_status",rows="1">{{ appointment.pet_status }}</textarea>
            <input id="update" type="button" value="update">
        {% endif %}
        <a href="{{ url_for('update_appointment',apt=appointment.id,operation="Cancel") }}"><button>Cancel</button></a>
        <a href="{{ url_for('update_appointment',apt=appointment.id,operation="Finish") }}"><button>Finish</button></a>
    {% endif %}
</div>
<script>
    btn = document.getElementById('update');
    btn.onclick = function() {
            var pet_status = document.getElementById("pet_status");
            alert("ok");
            $.post('/change_pet_status',
                {'status':pet_status,'appointment_id':{{ appointment.id }}},
                    function (data,status) {
                        console.log(data.code,status);
                    })
        }
</script>
{% endblock %}
