{% extends "base.html" %}

{% block content %}
<div class="big">

    <a href="{{ url_for('all_appointment') }}"><button>Back</button></a><hr>
    <p class="center">Appointment id: {{ appointment.id }} <span class="right"><i>Submit time: {{ appointment.datetime }}</i></span></p>
    <p class="center">Appointment type:
        {% if appointment.is_emergency == true %}
            <span class="red">Emergency</span>
        {% else %}
            <b>Standard</b>
        {% endif %}
    </p><hr>
    <div class="center"> 
    <table border="2px">
    <tr><td>Appointment Status:</td> <td><b>{{ appointment.status }}</td></b></tr>
    <tr><td>Appointment location:</td>
        {% if  appointment.loc  == 1 %}
            <td><b>Beijing</b></td>
        {% elif  appointment.loc  == 2 %}
            <td><b>Shanghai</b></td>
        {% elif appointment.loc  == 3 %}
            <td><b>Chengdu</b></td>
        {% else %}
        {% endif %}
    </tr>
    <tr><td>Description: </td><td><b>{{ appointment.description }}</td></tr>
{#    <p>Appointment Date: <b>{{ appointment.date }}</b></p>#}
{#    <p>Appointment Time: <b>{{ appointment.time }}</b></p>#}
    <tr><td>Customer Name: </td><td><b>{{ customer.username }}</b></td></tr>
    <tr><td>Pet Name: </td><td><b>{{ pet.name }}</b></td></tr>
    <tr><td>Preferred Doctor: </td><td><b>{{ preferred.username }}</b></td></tr>
    <tr><td>Accept Adjustment:</td>
        {% if  appointment.changeable == 1 %}
            <td><b>Yes</b></td>
        {% else %}
            <td><span class="red">No</span></td>
        {% endif %}
    </tr>
    <tr><td>Assigned Employee:</td>
        {% if assigned %}
             <td><b>{{ assigned.username }}</b></td>
        {% else %}
            <td>None</td>
        {% endif %}
    </tr><br><br>
    </table>
    {% if appointment.status == "Pending" %}
        <p>
            <a href="{{ url_for('update_appointment',apt=appointment.id,operation='Reject') }}"><button>Reject</button></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('update_appointment',apt=appointment.id,operation='Confirm') }}"><button>Confirm</button></a>
        </p>
    {% elif appointment.status == "Confirmed" %}
        {% if appointment.is_emergency == true %}
            <p>
                Pet Status:
                <textarea id="pet_status",rows="1">{{ appointment.pet_status }}</textarea>
                <input id="update" type="button" value="update">
            </p>
        {% endif %}
        <p>
            <a href="{{ url_for('update_appointment',apt=appointment.id,operation='Cancel') }}"><button>Cancel</button></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('update_appointment',apt=appointment.id,operation='Finish') }}"><button>Finish</button></a>
        </p>
    {% endif %}
    </div>
</div>
<script>
    btn = document.getElementById('update');
    btn.onclick = function() {
            var pet_status = document.getElementById("pet_status").textContent.toString();
            alert(pet_status);
            window.location.href = "{{url_for('set_status',apt=appointment.id) }}&status="+pet_status;
        }
</script>
{% endblock %}
