{% extends "base.html" %}

{% block content %}
<div>
    <div class="appointment"></div>
    <p>Appointment id: {{ appointment.id }}</p>
    <p>Appointment type:
        {% if appointment.is_emergency == true %}
            Emergency
        {% else %}
            Standard
        {% endif %}
    </p>
    <p>Submit time: {{ appointment.booking_datetime }}</p>
    <p>Appointment Status: {{ appointment.status }}</p>
    <p>Appointment location: {{ appointment.location }}</p>
    <p>Appointment Date: {{ appointment.date }}</p>
    <p>Appointment Time: {{ appointment.time }}:00</p>
    <p>Customer Name: {{ customer.username }}</p>
    <p>Pet Name: {{ pet.name }}</p>
    <p>Preferred Doctor: {{ preferred_doctor.name }}</p>
    <p>Accept Adjustment: {{ appointment.accept_change }}</p>
    {% if appointment.status == "Pending" %}
        <button>Reject</button>
        <button>Confirm</button>
    {% else %}
        {% if appointment.is_emergency == true %}
            <p>Pet Status:</p>
            <textarea id="pet_status",rows="1">{{ appointment.pet_status }}</textarea>
            <input id="update" type="button" value="update">
        {% endif %}
        <p>Assigned Employee: {{ employee.username }}</p>
        <p>Assigned Doctor: {{ assigned_doctor.name }}</p>
    {% endif %}
</div>
<script>
    btn = document.getElementById('update');
    btn.onclick = function() {
            var pet_status = document.getElementById("pet_status");
            alert("ok");
            $.post('/change_pet_status',
                {'status':pet_status,'appointment_id':{{ appointment.id }}},
                    function (data,status) {
                        console.log(data.code,status);
                    })
        }
</script>
{% endblock %}
