{% extends "base.html" %}
{% block content %}
<div class="page-title">
    	
        <div class="container">
        	<h1>About Us</h1>
        </div>
        
    </div><!-- /page-title -->
        
        <div class="h-recent-work">
        
  			<div class="container">
						
                 <div class="about">
					<hr>
                
                    <div class="center">
                        
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            
                            <h1>A Few Word About us</h1>
                            
                            <p>This is a website for you balabala You are allowed to make appointments for more than 1 pets</p>
            
                        </div>
                        
                    </div>
                    <hr>
                    <div class="center">
                        
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h1>Our Advantages</h1>
                            
                            <div class="panel-group" id="accordion">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                      advantage1
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                  <div class="panel-body">
                                    优点描述 可以折叠
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                      优点2
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                  <div class="panel-body">
									优点2描述
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
										3
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                  <div class="panel-body">
										1
                                  </div>
                                </div>
                              </div>
                            </div>
                           
                        </div>
                       
                        </div>
                        
                    </div>
                
                </div>
			</div>

        

{% endblock %}