{% extends "base.html" %}
{% block content %}
<section id="about">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title text-center i18n" name="about_us"></h2>
			<p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa <br> semper aliquam quis mattis quam.</p>
		</div>

		<div class="row">
			<div class="col-sm-6 wow fadeInLeft">
			  <img class="img-responsive" src="images/about.png" alt="">
			</div>

			<div class="col-sm-6">
				<h3 class="column-title i18n" name="take_care" ></h3>
				<p  class="i18n" name="intro_1"></p>
                <p  class="i18n" name="intro_2"></p>
                <p  class="i18n" name="intro_3"></p>

				<a class="btn btn-primary i18n" name="learn_more" href={{ url_for("reviewquestions",page=1 )}}></a>

			</div>
		</div>
	</div>
</section><!--/#about-->
    <section id="services" >
	<div class="container" style="padding: 20px">

		<div class="section-header">
			<h2 class="section-title text-center i18n" name="our_service"></h2>
			<p class="text-center i18n" name="our_service_context"><br></p>
		</div>

		<div class="row">
			<div class="features">
				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-heart"></i>
						</div>
						<div      >
							<h4 class="media-heading i18n" name="f1"></h4>
							<p class="i18n" name="f1c">
						</div>
					</div>
				</div><!--/.col-md-4-->

				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-compass"></i>
						</div>
						<div      >
							<h4 class="media-heading i18n" name="f2"></h4>
							<p class="i18n" name="f2c">
                        </div>
					</div>
				</div><!--/.col-md-4-->

				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-bell"></i>
						</div>
						<div      >
							<h4 class="media-heading i18n" name="f3"></h4>
							<p class="i18n" name="f3c">
                        </div>
					</div>
				</div><!--/.col-md-4-->

				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-question"></i>
						</div>
						<div      >
							<h4 class="media-heading i18n" name="f4"></h4>
							<p class="i18n" name="f4c">
                        </div>
					</div>
				</div><!--/.col-md-4-->

				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-paw"></i>
						</div>
						<div      >
							<h4 class="media-heading i18n" name="f5"></h4>
							<p class="i18n" name="f5c">
                        </div>
					</div>
				</div><!--/.col-md-4-->

				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-credit-card"></i>
						</div>
						<div      >
							<h4 class="media-heading i18n" name="f6"></h4>
							<p class="i18n" name="f6c">
                        </div>
					</div>
				</div><!--/.col-md-4-->
			</div>
		</div><!--/.row-->
	</div><!--/.container-->
</section><!--/#services-->
{% endblock %}