{% extends "base.html" %}

{% block content %}
<div id="make_appointment" class="center">
    <h2>Make a new appointment</h2>
    <p class="right">Enter your information</p><hr>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div id="pet">
            {{ form.pet.label }}
            <span class="bor1">{{ form.pet() }}<br></span>
            <span id="checkpet"></span>
            {% for error in form.pet.errors %}
            <span style="color: red;" class="flash">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div id="loc">
            <label>Location</label>&nbsp;&nbsp;
            <span class="bor1">{{ form.loc() }}&nbsp;&nbsp;</span>
            <span id="checkloc"></span>
            {% for error in form.loc.errors %}
            <span style="color: red;"  class="flash">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div id="apt_type">
            {{ form.is_emergency.label }}&nbsp;&nbsp;
            <span class="bor1">{{ form.is_emergency() }}&nbsp;&nbsp;</span>
            <span id="checkapt_type"></span>
            {% for error in form.is_emergency.errors %}
            <span style="color: red;"  class="flash">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div id="choose_doctor">
            {{ form.doctor.label }}&nbsp;&nbsp;
            <span class="bor1">{{ form.doctor() }}&nbsp;&nbsp;</span>
            <span id="checkdoctor"></span>
            {% for error in form.doctor.errors %}
            <span style="color: red;" class="flash">[{{ error }}]</span>
            {% endfor %}
        </div><br>

        <div id="changeable">
            {{ form.changeable.label }}&nbsp;&nbsp;
            <span class="bor1">{{ form.changeable() }}&nbsp;&nbsp;</span>
            <span id="checkchangeable"></span>
            {% for error in form.changeable.errors %}
            <span style="color: red;"  class="flash">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div id="description">
            {{ form.description.label }}<br>
            <span class="bor1">{{ form.description(cols=100,rows=3) }}&nbsp;</span>
            <span id="checkdescription"></span>
            {% for error in form.description.errors %}
            <span style="color: red;" class="flash">[{{ error }}]</span>
            {% endfor %}
        </div>
		<br>

        <div>{{ form.submit() }}</div>
        {% for error in form.submit.errors %}
        <span style="color: red;" class="flash">[{{ error }}]</span>
        {% endfor %}

    </form>
</div>
{% endblock %}