{% extends "base.html" %}

{% block content %}
<div id="signupWin">
    <h2>Welcome New User</h2>
    <p>Enter your details and register here</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div id="username">

            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            <span id="checkuser"></span>

            {% for error in form.username.errors %}
            <span style="color: red;" class="flash">[{{ error }}]</span>
            {% endfor %}

        </div>

        <div id="passwords">    
            <div>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </div>
            {% for error in form.password.errors %}
            <span style="color: red;" class="flash">[{{ error }}]</span>
            {% endfor %}
            <div>
                {{ form.password2.label }}<br>
                {{ form.password2(size=32) }}<br>
                <span id="checkpassword"></span>
            </div>
            {% for error in form.password2.errors %}
            <span style="color: red;" class="flash">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div id="email">
            <div>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}<br>
                <span id="checkemail"></span>
            </div>
            {% for error in form.email.errors %}
            <span style="color: red;" class="flash">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div id="phone">
            <label>Phone Number</label><br>
            {{ form.phone(size=32) }}<br>
            <span id="checkphone"></span>
        
        {% for error in form.phone.errors %}
        <span style="color: red;"  class="flash">[{{ error }}]</span>
        {% endfor %}
        </div>

        <div id="birthday">
            <label>Birthday</label><br>
            {{ form.dob(size=32) }}<br>
            <span id="checkdob"></span>
        
        {% for error in form.dob.errors %}
        <span style="color: red;"  class="flash">[{{ error }}]</span>
        {% endfor %}
        </div>

        <div id="address">
            <label>Address</label><br>
            {{ form.address(size=32) }}<br>
            <span id="checkadress"></span>
        
        {% for error in form.address.errors %}
        <span style="color: red;"  class="flash">[{{ error }}]</span>
        {% endfor %}
        </div>

        <div>{{ form.accept_rules() }} {{ form.accept_rules.label }}</div>
        {% for error in form.accept_rules.errors %}
        <span style="color: red;" class="flash">[{{ error }}]</span>
        {% endfor %}
        <br />

        <div>{{ form.submit() }}</div>

    </form>
</div>
{% endblock %}

