{% extends 'base.html' %}

{% block content %}
<script src="{{ url_for('static', filename='scripts/signup_check.js') }}"></script>
    <h1 class="i18n" name="reset_password"></h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <span class="i18n" name="password"></span><br>
            {{ form.password(size=32) }}<br />
            <span id="checkpassword"></span>
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            <span class="i18n" name="password2"></span><br>
            {{ form.password2(size=32) }}<br>
            <span id="checkpassword2"></span>
            {% for error in form.password2.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <button id="submit" name="submit" type="submit" class="i18n"></button>
    </form>
{% endblock %}
