{% extends 'base.html' %}

{% block content %}
    <h1 class="i18n" name="enter_username"></h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <span class="i18n" name="username"></span><br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <div>
            <button id="submit" name="submit" type="submit" class="i18n"></button>
        </div>
    </form>
{% endblock %}
<!-- https://blog.csdn.net/sdwang198912/java/article/details/89884414 -->