{% extends "base.html" %}

{% block content %}
	<script src="{{ url_for('static', filename='scripts/question_id.js') }}"></script>
	<form action="" method="post" enctype="multipart/form-data" novalidate>
		{{ form.hidden_tag() }}
		<fieldset>
			<legend>Searching</legend>
			<p>
				{{ form.keyword.label }}<br>
				{{ form.keyword(size=32) }}
			</p>
			<p>{{ form.submit() }}</p>
		</fieldset>
	</form>
	<h3>Previous questions</h3>
	{% if prev_questions %}
		<table class="questionstable" border="2">
		<tr>
			<th>Questions</th>
			<th>Author</th>
			<th>Answer</th>
		</tr>
		<ul class='question'>
		{% for question in prev_questions %}
		<tr>
			<li>
			<td> <a href="{{ url_for('answerquestion')}}" >{{ question.body }}</a></td>
			{% if question.anonymity == 1 %}
				<td>anonymous user</td>
			{% else %}
				<td> {{ question.author.username }}</td>
			{% endif %}
			<td> {{ question.answers.body }}</td>
			</li>
		</tr>
		{% endfor %}
		</table>
		<hr>
	{% else %}
		<p>No previous question</p>
		<hr>
	{% endif %}
	<a href="{{ url_for('addquestion') }}"><input type="button">New Question</input></a>
{% endblock %}