{% extends "base.html" %}

{% block content %}
	<form action="" method="post" enctype="multipart/form-data" novalidate>
		{{ form.hidden_tag() }}
		<fieldset>
			<legend>Searching</legend>
			<p>
				{{ form.keyword.label }}<br>
				{{ form.keyword(size=32) }}
			</p>
			<p>{{ form.submit() }}</p>
		</fieldset>
	</form>
	<h3>Previous questions</h3>
	{% if prev_questions %}
		<table class="questionstable" border="2">
		<tr>
			<th>Questions</th>
			<th>Author</th>
			<th>Answer</th>
		</tr>
		{% for question in prev_questions %}
		<tr>
			<td> {{ question.body }}</td>
			<td> {{ question.author.username }}</td>
			<td> {{ question.answer.body }}</td>
		</tr>
		{% endfor %}
		</table>
		<hr>
	{% else %}
		<p>No previous question</p>
		<hr>
	{% endif %}
	<a href="url_for('addquestion')"><input type="button">New Question</input></a>
{% endblock %}