{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/question.css') }}">
	<script src="{{ url_for('static', filename='scripts/questions.js') }}"></script>
<div class="container main">
	<div id="search" class='right'>
		<input type="text" placeholder="Search..."/>
		<button class="i18n" name="search"></button>

	</div>
	<section class="site-section bg-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="section-heading text-center">
              <h2><strong class="i18n" name="question"></strong></h2>
            </div>
          </div>
        </div>
		{% if prev_questions %}
			<div class="row">
			{% for question in prev_questions %}
			<div class="col-md-6">
				<div class="block-47 d-flex mb-5">
					<blockquote class="block-47-quote">
						
						{% if question.type == 1 %}
						<img src="static/images/about.png" width='300px' height='250px' alt="">
						{% elif question.type == 2 %}
						<img src="static/images/team-1.jpg" width='300px' height='250px' alt="">
						{% else %}
						<img src="static/images/logo.png" width='300px' height='250px' alt="">
						{% endif %}
						<table max-width="300" text-align="left">
						<tr>
						<td>
						
						{% if question.anonymity == 1 %}
							<cite class="block-47-quote-author i18n left" name="ask_by_anony"></cite><br>
							
						{% else %}
							<cite class="block-47-quote-author left">by {{ question.author.username }}</cite><br>
							
						{% endif %}
						</td>
						<td rowspan='3' width='150' overflow='hidden'>
						<a class='center big' href="{{ url_for('answerquestion',questionid=question.id)}}" >{{ question.title }}</a><br>
						</td>
						<tr><td width='70' overflow='hidden'>
						<p class = 'left'>{{ question.timestamp }}</p>
						</td></tr>
						<tr><td>
						<p class = 'left'> Answers {{ question.counta }}</p>
						</td>
						</tr>
						</table>
					</blockquote>
				</div>
			</div>
			{% endfor %}
			</div>
		{% else %}
			<p class="i18n" name="no_ques">No questions</p>
			<hr>
		{% endif %}        
      </div>
    </section>

	<hr>
	{%import 'questionpage.html' as pg%}
	{{pg.my_paginate(pagination,'reviewquestions')}}
	<hr>

	{% if user %}
		{% if user.is_customer %}
			<form action="" method="post" enctype="multipart/form-data" novalidate>
				{{ form.hidden_tag() }}
				<div >
				<fieldset>
					<legend><h1 class="i18n" name="new_ques"></h1></legend>
					<p>
						<label class="i18n" name="ques_title"></label><br>
						{{ form.title(size=128) }}
					</p>
					<p>
						<label class="i18n" name="ques_type"></label><br>
						{{ form.type }}
					<p>
						<label class="i18n" name="ques_desc"></label><br>
						{{ form.body(cols=100,rows=6) }}
					</p>
					<p class='red'>
						<label class="i18n" name="is_anony"></label>
						{{ form.anonymity }}
					</p>
					<button id="submit" name="submit" type="submit" class="i18n btn btn-primary"></button>
				</fieldset>
			</div>
		</form>
		{% endif %}
	{% endif %}
</div>
{% endblock %}

