<p>亲爱的 {{ user.username }}，</p>
<p>
    重置您的密码:
    <a href="{{ url_for('reset_password', token=token, _external=True) }}">
        点击此处
    </a>。
</p>
<p>另外，你也可以在浏览器的地址栏中粘贴以下链接:</p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>
<p>如果您未申请密码重置请忽略此信息。</p>
<p>谨致问候，</p>
<p>博客团队</p>

<p>Dear {{ user.username }},</p>
<p>Please click the link below to reset your password:</p>
<p></p>
    Reset your reset_password:
    <a href="{{ url_for('reset_password', token=token, _external=True) }}">
        click here.
    </a>
<p>You can also paste the following links in the address bar of the browser:</p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>
<p>If you have not applied for it, just ingore this email.</p>
<p>Thanks</p>
<p>Healing-Paws</p>
