.right{
	float:right;
}
.center{
	text-align:center;
}
.bor{
	border: 2px solid black;
	margin: 100px;
	padding: 5px;
	border-radius: 20px;
}
.disabled{
	margin: 100px;
	padding: 5px;
}
.pagination{
	text-align:center;
}
.formcss{
	font-size:110%;
	padding:10px;
	margin:20px;
	width:100%;
}
.red{
	color:red;
	font-weight:bold;
}
#questionstable{
	margin:auto;
	width:80%; 
}
#questionstable td{
	text-align:center;
	vertical-align:middle;
}
